body {
    font-family: 'Ubuntu', 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(8, 6, 17);
    overflow: auto;
    margin: 0px;
}

.navBar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarText {
    margin-left: 3%;
    font-size: x-large;
    color: #00b03d;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list img {
    height: 25px;
    width: 25px;
}

.CinstagramLogo,
.ClinkedinLogo,
.CfacebookLogo,
.CgmailLogo {
    filter: invert(1);
    display: flex;
    height: 25px;
    width: 25px;
    margin-right: 3%;
    margin-left: 2%;
    background-color: #ffffff;
}

.contectBar {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backLink {
    padding-left: 3%;
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    border-color: #080611;
}

.link {
    color: #00b53f;
    text-decoration: none;
}


.cards {
    background-color: #ffffff;
    padding: 2%;
    margin: 0;
    overflow: hidden;
    display: flex;
    overflow-x: scroll;
    /* Show horizontal scrollbar */
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    display: flex;
    align-items: center;
    margin: 2%;
    padding: 2%;
    font-size: small;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #ffffff;
}

.cards img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
    padding-right: 20px;
    border-style: groove;
    border-width: 1px;
    border-right-color: gainsboro;
    border-left: none;
    border-bottom: none;
    border-top: none;
}


.card1:hover,.card2:hover,.card3:hover,.card4:hover,.card5:hover {
    
    box-shadow: 0 2px 10px rgba(48, 48, 48, 0.5);
}

.buttonDiv {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
}

button {
    background-color: #00b03d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
}

button:hover {
    background-color: #00ce4c;
    /* Change the color for hover effect */
    color: black;
}

.cards::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #00b03d;
}

.cards::-webkit-scrollbar-track {
    background-color: #ececec;
}