body {
    font-family: 'Ubuntu', 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    overflow: scroll;
    margin: 0px;
    /* text-align: center; */

}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://github.com/AliMardanTalpur/alimardantalpur.github.io/blob/1e09ab632d12cd9c3bd3cae84a4189043591bfeb/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

.HalloB,
.WorldB {
    justify-content: center;
    width: 100px;
    height: 30px;
    /* border: hidden; */
    border-color: #00b53f;
    color: white;
    font-size: medium;
    font-weight: 500;
    background-color: #00b03d;
    /* box-shadow: inset 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255); */
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.sec-heading {
    color: black;
}

.sec-1 {
    /* color: #2f2f2f; */
    color: #727272;
    font-weight: normal;
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.profileP {
    height: 70%;
    width: 80%;
    border-radius: 10%;
    margin-left: 10%;
}

.navBar {
    display: flex;
    align-items: center;
    font-size: small;
    color: #00b03d;
}

.contectBar {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content  : center;
    background-color: rgb(8, 6, 17);
}

.navbarText {
    margin-left: 3%;
    margin-right: 15%;
}

.instagramLogo,
.linkedinLogo,
.facebookLogo,
.gmailLogo {
    display: flex;
    height: 25px;
    width: 25px;
    margin-left: 8%;
}

.CinstagramLogo,
.ClinkedinLogo,
.CfacebookLogo,
.CgmailLogo {
    filter: invert(1);
    display: flex;
    height: 25px;
    width: 25px;
    margin-right: 3%;
    margin-left: 2%;
/* 
width: 25px;
margin: 1%; */
}
