body {
    font-family: 'Ubuntu', 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(8, 6, 17);
    overflow: scroll;
    margin: 0px;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('https://github.com/AliMardanTalpur/alimardantalpur.github.io/blob/1e09ab632d12cd9c3bd3cae84a4189043591bfeb/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

.HalloB,
.WorldB {
    justify-content: center;
    width: 100px;
    height: 30px;
    /* border: hidden; */
    border-color: #00b53f;
    color: white;
    font-size: medium;
    font-weight: 500;
    background-color: #00b03d;
    /* box-shadow: inset 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255); */
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.sec-heading {
    color: black;
    background-color: #ffffff;

}

.sec-1 {
    /* color: #2f2f2f; */
    background-color: #ffffff;
    color: #727272;
    font-weight: normal;
    padding: 5%;
    margin: 0px;
}

.ppBackground {
    background-color: #ffffff;
    padding: 20px;
    margin: 0%;
}

.profileP {
    height: 70%;
    width: 80%;
    border-radius: 10%;
    margin-left: 10%;
    background-color: #ffffff;
}
/* 
.navBar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-size: small;
    color: #00b03d;
}

.contectBar {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarText {
    margin-left: 3%;
    margin-right: 15%;
}

.instagramLogo,
.linkedinLogo,
.facebookLogo,
.gmailLogo {
    display: flex;
    height: 25px;
    width: 25px;
    margin-left: 8%;
    background-color: #ffffff;

}

.CinstagramLogo,
.ClinkedinLogo,
.CfacebookLogo,
.CgmailLogo {
    filter: invert(1);
    display: flex;
    height: 25px;
    width: 25px;
    margin-right: 3%;
    margin-left: 2%;
    background-color: #ffffff;

} */


.navBar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarText {
    margin-left: 3%;
    font-size: x-large;
    color: #00b03d;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list img {
    height: 25px;
    width: 25px;
}

.CinstagramLogo,
.ClinkedinLogo,
.CfacebookLogo,
.CgmailLogo {
    filter: invert(1);
    display: flex;
    height: 25px;
    width: 25px;
    margin-right: 3%;
    margin-left: 2%;
    background-color: #ffffff;
}

.contectBar {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-2 {
    background-color: #ffffff;
}

.skills {

border-top-style: groove;
border-bottom-style: groove;
    border-color: #7777;
    text-align: center;
    justify-content: center;
    padding: 5%;
    background-color: gainsboro;
}

a{
    text-decoration: none;
}

.skillheading {
    color: black;
    margin: 0%;
}

.java,
.blender,
.unity {
    height: 40px;
    width: 40px;
    padding: 8%;
}

.sec-3 {
    background-color: #ffffff;
    font-weight: normal;
    padding: 5%;
    margin: 0px;
}

.sec-3 p {
    margin: 0px;
    color: #727272;
    font-weight: normal;
}

footer {
    padding: 2%;
    margin: 2%;
}

.backLink{
padding-left: 3%;
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
}
.link{
color: #00b53f;
text-decoration: none;
}

.text{
    background-color: #ffffff;
    margin: 0%;
    padding: 0%;
}

.text p{
    margin: 0%;
    padding: 10%;
    text-align: center;
    font-size: larger;
}

.text h1{
    color: #00b03d;

    margin: 0%;
    padding: 10%;
    text-align: center;
}


